@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap'); /*Importa fuente de texto JULUIS SANS ONE*/
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap'); /*Imoporta fuente de texto Ephesis*/
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap'); /* Importa fuente de texto abeezee */

body{
    background-color: #334334;
    font-family: Arial, Helvetica;

    margin: 0;
    padding: 0
    
}

h1 {
    margin: 0
}

/* NAVBAR */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4EAD5; /* Cambia el color de fondo según tus preferencias */
    height: 50px;
    padding: 10px 0;
}

.logo img { /* Logo de Kalitas */
    max-width: 100px; /* Ajusta el ancho máximo del logo según tus necesidades */
    width: 55px;
    height: 55px;
    margin-right: 10px; /* Espacio entre el logo y el contenido */
    padding-left: 10px;

    transition: all 0.3s;
}

.logo img:hover {
    opacity: 90%;
    transition: all 0.3s;
    transform: scale(1.05);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 25px; /* Espacio entre elementos del menú */
    position: relative;
    right: 5%;
    transition: all 0.25s;
}

.menu a {
    text-decoration: none;
    color: #000000; /* Color del texto del menú */
    font-family: 'Julius Sans One';
    transition: all 0.25s;
}

.menu li a:hover {
    color: #fff;
    background-color: #817355;
    border-radius: 4px;
    padding: 27px 22px;
    transition: all 0.25s;
}

/* NAVBAR */

/* INICIO-SECTION1 */

.index-section1 {
    width: 100%;
    height: 1000px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    opacity: 90%;
}

.img-pantalon-sec1 {
    width: 100%;
    height: 100%;
    opacity: 40%;
}

.logoKalitas-index-sec1 {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 4%;
}

.button-index-section1 {
    position: absolute; 
    top: 62%; 
    text-decoration: none; 
    background-color: #fff; 
    font-family: 'Julius Sans One'; 
    padding: 22px 32px; color: #000;
     border-radius: 2px; 
     transition: all 0.3s;

}

.button-index-section1:hover {
    background-color: #000000;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.3s;
}

/* INICIO-SECTION1 */

/* INICIO-SECTION2 */

.index-section2 {
    width: 100%;
    height: 800px;
    background-color: #F8FFED;
    margin: 0;
}

.container-img-section2 {
    width: 100%;
    height: 570px;
    border: 1px solid black transparent;

    box-sizing: border-box;
    position: relative;
    top: 8%;

    justify-content: center;
    display: flex;
}

.card-img-section2 {
    width: 28%;
    height: 75%;
    border: 1px solid red transparent;

    box-sizing: border-box;
    margin: 0 100px;
    transition: all 0.2s;

}

.button-vermas-section2 {
    position: absolute; 
    left: 25%;
    top: 80%;
    transition: all 0.3s;
    border: 5px;

    background-color: #000;
    color: white;
    padding: 20px 32px;
    text-decoration: none;
    font-family: 'Julius Sans One';
}

.button-vermas2-section2 {
    position: absolute; 
    right: 25%;
    top: 80%;
    transition: all 0.3s;
    border: 5px;

    background-color: #000;
    color: white;
    padding: 20px 32px;
    text-decoration: none;
    font-family: 'Julius Sans One';
}

.button-vermas-section2:hover {
     background-color: #3a3a3a;
     transition: all 0.3s;
     transform: scale(1.01);
}

.button-vermas2-section2:hover {
    background-color: #3a3a3a;
    transition: all 0.3s;
    transform: scale(1.01);
}

.card-img-section2:hover {
    transform: scale(1.02);
    transition: all 0.2s;
    opacity: 90%;
}

/* INICIO-SECTION2 */

/* INICIO-SECTION3 */

.index-section3 {
width: 100%;
height: 1100px;
background-color: #718452;
}

.container-mapa-index {
    width: 100%;
    height: 85%;
    position: relative;
    top: 8%;
    display: flex;
    place-content: center;
    box-sizing: border-box;
}

/* INICIO-SECTION3 */


/* APARTADO-CATALOGO */

.catalogo-section {
    width: 100%;
    height: 2100px;
    background-color: #FFFDF7;
    
    position: relative;
    display: flex;
    justify-content: center;
}

.container-img-catalogo {
    width: 100%;
    height: 75%;
    box-sizing: border-box;

    position: relative;
    top: 24%;
    display: block;
    justify-content: center;

    border: 1px solid black transparent;
    box-sizing: border-box;
}

.sub-container-img-catalogo {
    width: 100%;
    height: 30%;
    box-sizing: border-box;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;


    border: 1px solid red transparent;
    box-sizing: border-box;
}

img {
    transition: all  0.3s;
}

.sub-container-img-catalogo img:hover {
    opacity: 85%;
    transform: scale(1.01);
    transition: all  0.2s;
}

/* APARTADO-CATALOGO */


/* APARTADO-SOBRENOSOTROS */


.nosotros-section1 {
    width: 100%;
    height: 400px;
    background-color: #3A5335;

    position: relative;
    display: flex;
    justify-content: center;
    place-items: center;

}

.img-sobrenosotros-section1 {
    width: 100%;
    height: 100%;
    opacity: 40%;
}

.nosotros-section1 p{
    font-family: 'ABeeZee';
    position: absolute;
    opacity: 100%;
    font-size: 50px;
    color: #fff;
    z-index: 1;
}

.nosotros-section2 {
    width: 100%;
    height: 1200px;
    background-color: #F8FFCD;
}

/* APARTADO-SOBRENOSOTROS */





/*FOOTER*/

.footer {
    margin: 0;
    width: 100%;
    height: 120px;
    background-color: #3A5335;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*FOOTER*/


