body{
    background-color: #4B4B4B;
    font-family: Arial, Helvetica;
}

.flexContainer{
  display: flex;
  background-color: #F4EAD5;
  line-height: 0px;
  width: 100%;
  place-content: left;
}

.flexItem{
    background-color: #F4EAD5;
  width: 160px;
  margin: 0px;
  text-align: center;
  line-height: 65px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.flexItemLogoKalita{
  width: 80px;
  margin: 0px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}

.flexContainer a:hover{
    background-color: #ADB58F;
    color: white;
}

.buttonHacerPedido{
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  width: 15%;
}