body{
    background-color: #4B4B4B;
}

.subtituloPresentacion{
font-size: 1.5rem;
color: white;
font-family: Arial;
color: white;
}
.parrafoDeTextoPresentacion{
font-size: 1.3rem;
font-family: Helvetica;
color: white;
}
