body{
    background-color: #4B4B4B;
    font-family: Arial, Helvetica;
}

.menuDeNavegacion{
    list-style: none;
    padding: 0;
    background-color: #e8e39e;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: auto;
}

.menuDeNavegacion li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
}

.menuDeNavegacion li{
    display: inline-block;
    text-align: center;
}

.menuDeNavegacion li a:hover{
    background-color: #959265;
    color: white;
}